<div class="contents row" >
    <% @tweets.each do |tweet| %>
       <div class="content_post" style="background-image: url(<%= tweet.image %>);">
        <p>
          <%= br(tweet.text) %>
        </p>
        <span class="name"><%= tweet.name %></span>
      </div>
    <% end %>
  </div>