<h3>
      公演詳細
    </h3>
<p>
<img src="http://stage.corich.jp/img_stage/l/stage56396_1.jpg?1455779791" width="35%" height="45%" align="left">
  <big><h6><a href="#">逆鱗</a></h6></big><br>
<a href="#"><Div Align="right">NODA・MAP</Div></a>

脚本 野田秀樹  演出 野田秀樹<br>

  <strong>期間 2016/01/29(金) ～ 2016/03/13(日)</strong><br>
  <small>【休演日】2/01(月)、2/08(月)、2/15(月)、2/22(月)、2/29(月)、3/07(月)</small>

<br clear="left"><br>
  <strong>出演者</strong><br>

松たか子、瑛太、井上真央、阿部サダヲ、池田成志、満島真之介、銀粉蝶、野田秀樹、秋草瑠衣子、秋山遊楽、石川朝日、石川詩織、石橋静河、伊藤壮太郎、大石貴也、大西ユースケ、織田圭祐、川原田樹、菊沢将憲、黒瀧保士、近藤彩香、指出瑞貴、末冨真由、竹川絵美夏、手代木花野、中村梨那、那海、野口卓磨、的場祐太、柳生拓哉、吉田朋弘<br><br>

  <strong>タイムテーブル</strong><br>

2016/01/29(金)19：00<br>
2016/01/30(土)14：00　19：00<br>
2016/01/31(日)14：00<br>
2016/02/01(月)休演 <br>
2016/02/02(火)19：00<br>
2016/02/03(水)14：00<br>
2016/02/04(木)19：00<br>
2016/02/05(金)19：00<br>
2016/02/06(土)14：00　19：00<br>
2016/02/07(日)14：00<br>
2016/02/08(月)休演<br>
2016/02/09(火)19：00<br>
2016/02/10(水)14：00　19：00<br>
2016/02/11(木・祝)14：00<br>
2016/02/12(金)19：00<br>
2016/02/13(土)14：00　19：00<br>
2016/02/14(日)14：00<br>
2016/02/15(月)休演 <br>
2016/02/16(火)19：00<br>
2016/02/17(水)14：00　19：00<br>
2016/02/18(木)19：00<br>
2016/02/19(金)19：00<br>
2016/02/20(土)14：00　19：00<br>
2016/02/21(日)14：00<br>
2016/02/22(月)休演 <br>
2016/02/23(火)19：00<br>
2016/02/24(水)14：00　19：00<br>
2016/02/25(木)19：00<br>
2016/02/26(金)19：00<br>
2016/02/27(土)14：00　19：00<br>
2016/02/28(日)14：00<br>
2016/02/29(月)休演 <br>
2016/03/01(火)19：00<br>
2016/03/02(水)14：00　19：00<br>
2016/03/03(木)19：00<br>
2016/03/04(金)19：00<br>
2016/03/05(土)14：00　19：00<br>
2016/03/06(日)14：00<br>
2016/03/07(月)休演 　<br>
2016/03/08(火)19：00<br>
2016/03/09(水)14：00　19：00<br>
2016/03/10(木)19：00<br>
2016/03/11(金)19：00<br>
2016/03/12(土)14：00　19：00<br>
2016/03/13(日)14：00<br><br>

  <strong>会場</strong><br>

東京芸術劇場<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8616550454612!2d139.70581235057705!3d35.72962078008583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5c5c849739%3A0x3922fc7fd05509f3!2z5p2x5Lqs6Iq46KGT5YqH5aC0!5e0!3m2!1sja!2sjp!4v1455781029989" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>




  </p>