<h3>
      あなたが投稿したレビュー
    </h3>

<div class="bigbox">

<img src="http://stage.corich.jp/img_stage/l/stage56396_1.jpg?1455779791" width="35%" height="45%" align="left">
<big><a href="#">逆鱗</a></big><br>
<a href="#"><Div Align="right">NODA・MAP</Div></a><br>

<br clear="left"><br>
  <h5>ネタばれ<Div Align="right">2016/01/30</Div></h5>
<p>NODA・MAPの【逆鱗】を観劇。</p>

<p>先週の【リトル・マーメイド】に続いて、今作も人魚の話し。</p>

<p>水族館では新たなる見世物の人魚の補獲に大忙しだ。<br>
捕獲の為の潜水浮の訓練、偽者の人魚のオーディションなどでだ。<br>
そしてそこに来た電報配達人がオーディションに来ていた本物の人魚に出会い、海底の世界へ導かれ、人魚の世界を垣間見てしまうのである。<br>
そして実在しない妄想の生き物と戦争で実在した人間魚雷、<br>
妄想と現実が交差した瞬間から日本の悲しい歴史が始まっていくのである。</p>

<p>顔が人間で、身体が魚で人魚が作れるという話しから、言葉遊び、歴史観など、それを利用しようとする人間と人魚の関係で話しが進んでいく。<br>
そして寓話的に描かれていく人魚の生態が大きな伏線を孕んでいくのだが、それを微塵も見せずに進んでいくので、「今作は妄想と寓話がキーワードになるのかい？」と思いながらも、やや物足りなさを感じてしまう。<br>
「まぁ、でもそんな訳ないよな～？」と思った瞬間から、一気に散らばった話しのパズルが組み合わさっていくように、人魚と人間魚雷の関係、戦争とは？そして戦争で散った若者達のレクイエムとして、物語は海の底深く沈んでいくのである.....。</p>

<p>もう誰も越える事の出来ない野田秀樹の新たなる傑作である。</p>

<p>お勧めである。</p>

</div>
<br>
<div class="bigbox">

<img src="http://stage.corich.jp/img_stage/l/stage57117_1.jpg?1455768525" width="100" height="130" align="left">
<big><a href="#">LOST!!</a></big><br>
<a href="#"><Div Align="right">東京エスカルゴ。</Div></a><br>
<br clear="left"><br>
<h5>贅沢な気分になりました<Div Align="right">2016/01/30</Div></h5>
<p>所狭しと置かれる小道具、遺失物センターの大変さが始まる前から伝わってきました。<br>
元カレの控え目な熱い思い、微笑ましかったです。<br>
彼女の最後のセリフは、予想外でした。<br>
贅沢な気分にさせてくれたのは、大内さんと大森さんと入船さんです。</p>

</div>