<!DOCTYPE html>
  <html>
    <head>
      <title>Gekit</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Gekit</a></h1>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Copyright Gekit 2016.
      </p>
    </footer>
  </body>
</html>
